@model CostModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="list-group">
  <li class="list-group-item">Energy: @Model.Energy</li>
  <li class="list-group-item">Enjoyment: @Model.Enjoyment</li>
  <li class="list-group-item">Time Span: @Model.TimeSpan</li>
</ul>